.hamburger-menu {
  width: 3rem;
  height: 3.5rem;
  position: fixed;
  top: 0.4rem;
  right: 2rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}
.change .hamburger-menu {
  right: 22.45rem;
}
.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 9rem;
  height: 3.5rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Baloo Da 2", serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-right: 1rem solid #e2b646;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}
.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}
.line {
  width: 80%;
  height: 0.2rem;
  background-color: white;
  box-shadow: 0 0.1rem 0.2rem rgb(0, 0, 0, 0.9);
}
.change .line {
  background-color: rgba(0, 0, 0, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.4rem, 0.9rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.4rem, -0.9rem);
}
.longLine {
  width: 100%;
  height: 0.15rem;
  background-color: white;
  box-shadow: 0 0.1rem 0.2rem rgb(0, 0, 0, 0.2);
}
.sidebar {
  width: 28rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -38rem;
  background-color: whitesmoke;
  transition: right 0.5s;
  z-index: 3;
}
.change .sidebar {
  right: 0;
}
.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
}
.menu-link {
  font-family: "Baloo Da 2", serif;
  text-decoration: none;
  font-size: 2.5rem;
  color: rgb(65, 60, 60);
  position: relative;
}
.menu-link::before {
  content: attr(data-content);
  position: absolute;
  color: #e6b63d;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.45s ease-in-out;
}
.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 14px;
}
.social-media i {
  font-size: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
#abc:hover {
  transform: scale(1.1);
}
